<!doctype html>

<html lang="en">

  <style>
    * {
      box-sizing: border-box;
    }
    
    /* Create three equal columns that floats next to each other */
    .column {
      float: left;
      width: 33.33%;
      padding: 10px;
      height: 300px; /* Should be removed. Only for demonstration */
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    </style>
<head>
  <meta charset="utf-8">

  <title>KeepUp</title>
  <meta name="description" content="Keeping up, top billboards, books, movies .. etc">
  <meta name="SA" content="SitePoint">


</head>

<body>
  <div class="row">

  <h2>KeepingUp .. Latest Billboard Songs!</h2>

  <div class="column">
    <h4>Hot 100 billboard charts</h4>
    {{charts}}
  </div>

  <div class="column">
    <h4>NYT hardcover nonfiction best sellers</h4>
    {{nonfic}}
  </div>

  <div class="column">
    <h4>NYT hardcover fiction best sellers</h4>
    {{fic}}
  </div>
  </div>




</body>
</html>