<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>KeepUp</title>
  <meta name="description" content="Keeping up, top billboards, books, movies .. etc">
  <meta name="SA" content="SitePoint">


</head>

<body>
  <h2>KeepingUp .. Latest Billboard Songs!</h2>
  <table style="width:100%">
    <tr>
      <th>Billboards</th>
      <th>Books</th>
      <th>Movies</th>
    </tr>
    <tr>
      {{variable}}
      <td>Smith</td>
      <td>50</td>
    </tr>
    <tr>
      <td>Eve</td>
      <td>Jackson</td>
      <td>94</td>
    </tr>
  </table>
  


  

</body>
</html>